[package]
name = "grafiek_egui"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
grafiek_engine = { path = "../grafiek_engine" }
eframe = "0.33"
egui = "0.33"
egui_logger = "0.9.0"
egui-notify = "0.21.0"
egui-snarl = "0.9"
log = "0.4"
env_logger = "0.11"
rfd = "0.15"
serde_json = "1.0"
