name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y mesa-vulkan-drivers xvfb libegl1-mesa-dev

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --all-targets

      - name: Test
        run: cargo test -p grafiek_engine
