name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install llvmpipe
        run: sudo apt-get update && sudo apt-get install -y mesa-vulkan-drivers

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --all-targets

      - name: Test
        #env:
        # TODO: at one point we should run the tests for
        # the engine under llvmpipe and have some fixture snapshotting
        # based on an image diff library
        #  WGPU_BACKEND: vulkan
        run: cargo test
